:root{
    --background: #FCFCFC;
    --color-text: #333333;
}

body {
    background-color: var(--background);
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.title{
    color: var(--color-text);
}
