:root{
    --background: #FCFCFC;
    --primary-color: #633BBC;
    --color-text: #333333;
    --light-color: #FFFFFF;
}

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 20%;
    padding-top: 4rem;
}

.title{
    color: var(--color-text);
}

.card__text{
    color: var(--light-color);
}

.container{
    height: 100%;
    width: 90%;
    padding-right: .75rem;
    padding-left: .75rem;
}

.card{
    background-color: var(--primary-color);
    margin: 40px;
    border-radius: 15px;
    padding: 2rem;
}

.card__text{
    text-align: justify;
    font-size: 18px;
}

.button__select{
    background-color: var(--primary-color);
    color: var(--light-color);
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: .30rem .5rem;
    font-size: 1rem;
    border-radius: .25rem;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out
}

.hover:hover{
    opacity: .6;
}